@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* CSS Document */

:root {
  --link-color: #494949;
  --h1-color: #494949;
  --h2-color: #5d7177;
  --h3-color: #494949;
  --h4-color: #494949;
  --hr-color: #494949;
  --footer-bg: #3f3f3f;
  --footer-fg: #f0f0f0;
  --header-bg: #fff;
  --body-bg: rgba(255, 255, 255, 200);
  --body-fg: #000;
  --card-bg: #858585;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  background-color: var(--body-bg);
  color: var(--body-fg);
  overscroll-behavior: none;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;

  section {
    background-color: var(--body-bg);
    display: table;
    z-index: 2;

    &:nth-child(even) {
      filter: brightness(90%);
    }
  }

  ul {
    margin: 0 auto 0 auto;
    padding-left: 0;
    font-size: 0.9rem;

    li {
      padding: 0.3em;
    }
  }
}

section {
  min-height: 100%;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
li {
  list-style-type: none;
}
h1, h2, h3, a {
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: var(--link-color);
  text-transform: uppercase;
}
h1 {
  color: var(--h1-color);
}
h2 {
  color: var(--h2-color);
}
h3 {
  font-size: 40px;
  padding-top: 5%;
  margin-bottom: 5px;
  margin-top: 0;
  color: var(--h3-color);
}
h4, p {
  font-family: Arial, serif;
  color: var(--h4-color);
}
hr {
  width: 30px;
  height: 3px;
  background: var(--hr-color);
  border: 0;
  margin: 0 auto 40px auto;
}
figure {
  img {
    max-width: 60vmin;
  }
}
#logo, li, img  {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3rem;
  flex-direction: row;
  align-content: flex-end;
  align-items: stretch;

  .card {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 10rem;
    background-color: var(--card-bg);
    padding: 1rem 1rem 4rem;
    margin: 1rem;
    position: relative;

    img {
      width: 60%;
      max-width: 6rem;
    }

    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      //noinspection CssInvalidPropertyValue
      width: -webkit-fill-available;
      padding: 1rem;
    }
  }
}

.circle {
  border-radius: 50%;
}

.burger {
  display: none;
}

#preview {
  height: 100%;
  padding: 0 1rem;
}
.carousel {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;

  .images {
    display: flex;
    margin: 2rem;
  }

  button {
    border: none;
    color: var(--body-fg);
    background-color: var(--card-bg);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  figure {
    flex-grow: 1;
    margin: 0;
  }
}

/* Header ***************************/

header {
  width: 100%;
  height: 65px;
  background: var(--header-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;

  nav {
    margin: 0 50px 0 0;
    flex-grow: 1;

    ul {
      display: flex;
      justify-content: end;
      height: 100%;
      margin: 0;

      li {
        margin-left: 25px;
        padding: .5rem;

        a {
          font-size: 16px;
          line-height: 3rem;
        }

        &:hover {
          margin-top: 4px;
          margin-bottom: -4px;
        }
      }
    }
  }
}

#logo {
  width: auto;
  margin: 0 0 0 50px;
  --text-color: var(--body-fg);

  &:hover {
    opacity: 0.5;
  }

  img {
    height: 100%;
  }
}

/* Home ***************************/

#home {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../imgLayout/home-bg1600x800.png");
  background-attachment: fixed;
  background-position-x: center;
  height: 100%;

  div {
    background-image: url('../imgLayout/home-text.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
}

/* About ***************************/

#about {
  h4 {
    font-size: 25px;
  }

  img {
    width: 240px;

    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

#milestones ul {
  width: fit-content;
  text-align: left;

  li.done::marker {
    content: '✔';
  }
}

#team {
  padding-bottom: 2rem;
}


/* Footer ***************************/

footer {
  width: 100%;
  background-color: var(--footer-bg);

  p {
    color: var(--footer-fg);
  }
}

/* Media Queries ***************************/

/* Tablets */

@media screen and (max-width: 1024px) {
  #logo {
    width: 100px;
    height: 2.5rem;
    margin-top: 5px;
  }
  header {
    height: auto;
    flex-direction: column;

    input:checked ~ nav>ul {
      display: none;
    }

    .burger {
      display: block;
      position: absolute;
      top: .75rem;
      right: 1.1rem;
    }

    nav {
      margin-top: 0;
      margin-right: 0;

      ul {
        flex-direction: column;

        li a {
          font-size: 1rem;
          line-height: 2rem;
        }
      }
    }
  }
  h1 {
    font-size: 2rem;
    margin-top: 200px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}

/* Mobile */

@media screen and (max-width: 480px) {
  #logo {
    width: 90px;
    margin-left: 30px;
  }
  header nav {
    ul {
      height: auto;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        width: 100%;
        padding: 5px 0;
        margin: 0;
        font-size: 11px;
        border-top: 1px solid #ddd;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  .carousel .images {
    margin: .9rem;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --link-color: #cbcbcb;
    --h1-color: #b4b4b4;
    --h2-color: #d1e8f5;
    --h3-color: #c5c5c5;
    --h4-color: #d3d3d3;
    --hr-color: #d9d9d9;
    --footer-bg: #3b3b3b;
    --footer-fg: #c7c7c7;
    --header-bg: #3b3b3b;
    --body-bg: rgba(42, 42, 42, 200);
    --body-fg: #fff;
    --card-bg: #525252;
  }

  main::-webkit-scrollbar {
    width: unset;
  }

  main::-webkit-scrollbar-track {
    background-color: #343434;
  }

  main::-webkit-scrollbar-thumb {
    background: #4e4e4e;
  }

  main section:nth-child(even) {
    filter: brightness(110%);
  }
}
