[submodule "projects/easyimclib"]
	path = projects/easyimclib
	url = git@github.com:MinecraftschurliMods/EasyIMCLib.git
[submodule "projects/simplenetlib"]
	path = projects/simplenetlib
	url = git@github.com:MinecraftschurliMods/SimpleNetLib.git
[submodule "projects/patchouli_datagen"]
	path = projects/patchouli_datagen
	url = git@github.com:MinecraftschurliMods/PatchouliDatagen.git
[submodule "projects/codeclib"]
	path = projects/codeclib
	url = git@github.com:MinecraftschurliMods/CodecLib.git
[submodule "projects/betterkeybindlib"]
	path = projects/betterkeybindlib
	url = git@github.com:MinecraftschurliMods/BetterKeybindLib.git
