[submodule "projects/easyimclib"]
	path = projects/easyimclib
	url = https://github.com/Minecraftschurli/EasyIMCLib.git
[submodule "projects/simplenetlib"]
	path = projects/simplenetlib
	url = https://github.com/Minecraftschurli/SimpleNetLib.git
